.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #6cc3d5;
    text-decoration: none;
    background-color: inherit;
}

.dropdown-item:hover,
.dropdown-item.active {
    color: #ffce67;
    text-decoration: none;
    background-color: inherit;
}

.navbar-expand-lg {
    height: 120px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    cursor: pointer;
}

.navbar-dark .navbar-brand {
    font-size: 30px;
    color: #fff;
}

.pannier {
    background-color: #ffce67;
    color: #fff;
}

.nav-link .fa {
    margin-right: 5px;
}