.navbar-expand-lg {
    height: 120px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #888;
}

.navbar-dark .navbar-brand {
    font-size: 30px;
    color: #fff;
}

.pannier {
    background-color: #ffce67;
    color: #fff;
}