.login-container {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-container h4 {
    text-align: center;
}

.formLogin {
    margin: auto;
    width: 50%;
}